RAC/com.teamcenter.rac.common/schema/property_icon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 			
		   elementFormDefault="qualified">
					    
	<xs:element name="icons">
		<xs:annotation>
			<xs:documentation>
				A generic root element. 
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="propertyMap" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="primaryIcon" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="overlayIcon" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="item">
		<xs:annotation>
			<xs:documentation>
				An item in a property/value key/value pair
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="key" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="visibleWhen">
		<xs:complexType>
			<xs:sequence>
				<xs:any processContents="skip" maxOccurs="1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Used to indicate when the overlay icon is visible.  This will be evaluated using the Eclipse Expression framework.  See this webpage for additional information on the Eclipse Expression framework.
							
							http://wiki.eclipse.org/Platform_Expression_Framework
						</xs:documentation>
					</xs:annotation>	
				</xs:any>
			</xs:sequence>		
		</xs:complexType>
	</xs:element>
	
	<xs:element name="overlayIcon">
		<xs:annotation>
			<xs:documentation>
				An icon used to "overlay" the primary icon, to indicate status.  These are evaluated in order with the first being at the bottom, and the last being at the top.
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="visibleWhen" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="source" type="xs:string" use="required"/>
			<xs:attribute name="mapName" type="xs:IDREF"/>
			<xs:attribute name="attachedTo" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="primaryIcon">
		<xs:annotation>
			<xs:documentation>
				The primary icon used to represent the component
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType>
			<xs:sequence>
				<xs:sequence minOccurs="0" maxOccurs="1">
					<xs:element ref="visibleWhen" />
				</xs:sequence>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="overlayIcon" />
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="source" type="xs:string" use="required"/>
			<xs:attribute name="mapName" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="propertyMap">
		<xs:annotation>
			<xs:documentation>
				A map hold a number of key/value pairs that relate a property to a value
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
